video {
    object-fit: fill; 
}

.container{
    position: relative;
}

.container>.player-buttons1{
    left: 40%;
    margin: -64px 0 0 -64px;
    position: absolute;
    top: 90%;
    width: 128px;
    z-index: 1; 
}

.container>.player-buttons2{
    left: 60%;
    margin: -64px 0 0 -64px;
    position: absolute;
    top: 90%;
    width: 128px;
    z-index: 1; 
}

.container>.player-buttons3{
    left: 7%;
    margin: -64px 0 0 -64px;
    position: absolute;
    top: 12%;
    width: 128px;
    z-index: 1; 
}

.container>.player-buttons4{
    left: 85%;
    margin: -64px 0 0 -64px;
    position: absolute;
    top: 12%;
    width: 250px;
    z-index: 1; 
}

